BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
IndentCaseLabels: true
UseTab: Never
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
